/**
 * Responsive Styles
 */

/**
 * Required Variables
 */

$default_width: 610px;
$max_content_width: 1240px;
$breakpoint_xs: 380px;
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: 652px;
$breakpoint_xl: 822px;
$breakpoint_xxl: 1024px;

// Responsive breakpoints mixin
@mixin media( $res ) {

	@if xs == $res {
		@media only screen and (min-width: #{$breakpoint_xs - 1}) {
			@content;
		}
	}

	@if sm == $res {
		@media only screen and (min-width: #{$breakpoint_sm - 1}) {
			@content;
		}
	}

	@if md == $res {
		@media only screen and (min-width: #{$breakpoint_md}) {
			@content;
		}
	}

	@if lg == $res {
		@media only screen and (min-width: #{$breakpoint_lg - 1}) {
			@content;
		}
	}

	@if xl == $res {
		@media only screen and (min-width: #{$breakpoint_xl}) {
			@content;
		}
	}

	@if xxl == $res {
		@media only screen and (min-width: #{$breakpoint_xxl}) {
			@content;
		}
	}
}
