.front-page {
  display: flex;
  align-items: flex-end;
  height: 100%;

  h1 {
    width: 100%;
    text-align: center;
    line-height: 28px;

    @include media(xs) {
      line-height: 44px;
    }
    @include media(sm) {
      line-height: 48px;
    }
    @include media(md) {
      line-height: 48px;
    }
    @include media(lg) {
      line-height: 56px;
    }
    @include media(xl) {
      line-height: 62px;
    }
    @include media(xxl) {
      line-height: 68px;
    }
  }

  &__future {
    text-decoration: underline;
    display: block;
    margin-bottom: 25px;
  }

  &__are-you {
    display: block;
    margin-bottom: 20px;
  }

  @include media(lg) {
    h1 {
      text-align: left;
    }
    &__future {
      display: inline-block;
    }
    &__are-you {
      margin-bottom: 0;
    }
  }
}