$base-font-size: 16;


@mixin font-size( $px ) {
  font-size: #{ ($px / $base-font-size) }rem;
}

@mixin responsive-font($nm, $xs,$sm,$md,$lg,$xl,$xxl) {
  @include font-size($nm);
  @include media(xs) {
    @include font-size($xs);
  }
  @include media(sm) {
    @include font-size($sm);
  }
  @include media(md) {
    @include font-size($md);
  }
  @include media(lg) {
    @include font-size($lg);
  }
  @include media(xl) {
    @include font-size($xl);
  }
  @include media(xxl) {
    @include font-size($xxl);
  }
}

body {
  @include responsive-font(16, 16, 16, 18, 18, 20, 20);
  color: white;
}


.heebo {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 400;

  &--thin {
    font-weight: 200;
  }

  &--light {
    font-weight: 300;
  }

  &--medium {
    //font-weight: 500;
  }

  &--semi-bold {
    //font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}

.alatsi {
  letter-spacing: .06rem;
  font-family: 'Alatsi', Helvetica, Arial, sans-serif;
}

.alatsi.split {
  span {
    letter-spacing: -0.25rem
  }
}

.split {
  span {
    display: inline-block;
  }
}

.text-xs {
  &.heebo {
    @include responsive-font(10, 10, 10, 12, 12, 14, 14);
  }

  &.alatsi {
    @include responsive-font(10, 10, 10, 12, 12, 14, 14);
  }
}

.text-sm {
  &.heebo {
    @include responsive-font(12, 12, 12, 14, 14, 16, 16);
  }

  &.alatsi {
    @include responsive-font(12, 12, 12, 14, 14, 16, 16);
  }
}

.text-md {
  &.heebo {
    @include responsive-font(20, 20, 20, 22, 22, 24, 24);
  }

  &.alatsi {
    @include responsive-font(20, 20, 20, 22, 22, 24, 24);
  }
}

.text-lg {
  &.heebo {
    @include responsive-font(24, 24, 24, 28, 28, 32, 32);
  }

  &.alatsi {
    @include responsive-font(24, 24, 24, 28, 28, 32, 32);
  }
}

.text-xl {
  &.heebo {
    @include responsive-font(32, 32, 32, 34, 34, 38, 38);
  }

  &.alatsi {
    @include responsive-font(38, 38, 38, 46, 46, 54, 64);
  }
}

.text-xxl {
  &.heebo {
    @include responsive-font(32, 48, 54, 54, 62, 68, 78);
  }

  &.alatsi {
    @include responsive-font(32, 48, 54, 54, 62, 68, 78);
  }
}

.will-fade {
  pointer-events: none;
  transition: opacity .6s ease, filter .6s ease;
  transition-delay: 0s;
  filter: blur(20px);
  opacity: 0;
}

.preloader-loaded:not([data-nav-expanded="true"]) {
  .will-fade:not([data-active="false"]) {
    opacity: 1;
    filter: blur(0);
    transition-delay: .5s;
    pointer-events: initial;
  }
}