html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.z-1 {
  position: relative;
  z-index: 1;
}

#content {
  height: 100vh;
  $p: $border-padding_xs + $border-size__xs;
  padding: $p;
  @include media(sm) {
    $p: $border-padding_sm + $border-size__sm;
    padding: $p;
  }
  @include media(md) {
    $p: $border-padding_md + $border-size__md;
    padding: $p ($p) $border-size__md $p;
  }
  @include media(lg) {
    $p: $border-padding_lg + $border-size__lg;
    padding: $p ($p) $border-size__lg $p;
  }
  @include media(xl) {
    $p: $border-padding_xl + $border-size__xl;
    padding: $p ($p + 15px) $border-size__xl $p;
  }
}

.padding-bottom {
  padding-bottom: $border-padding_xs;
  @include media(sm) {
    padding-bottom: $border-padding_sm;
  }
  @include media(md) {
    padding-bottom: $border-padding_md;
  }
  @include media(lg) {
    padding-bottom: $border-padding_lg;
  }
  @include media(xl) {
    padding-bottom: $border-padding_xl;
  }
}

#inner-content {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#main, .c-line {
  height: 100%;
  padding-top: $innerContentPaddingTopXS;

  @include media(sm) {
    padding-top: $innerContentPaddingTopSM;
  }
  @include media(md) {
    padding-top: $innerContentPaddingTopMD;
  }
  @include media(lg) {
    padding-top: $innerContentPaddingTopLG;
  }
  @include media(xl) {
    padding-top: $innerContentPaddingTopXL;
  }
}