header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: exclusion;
  z-index: 5;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  #brand, #nav-toggle {
    flex: 0 0 #{$logoWidthXS};
  }

  $p: $border-padding_xs+$border-size__xs;
  padding: $p $p 0 $p;


  #brand {
    z-index: 5;
  }

  #brand svg {
    width: 100%;
  }

  @include media(sm) {
    #brand, #nav-toggle {
      flex: 0 0 #{$logoWidthSM};
    }
    $p: $border-padding_sm+$border-size__sm;
    padding: $p $p 0 $p;
  }
  @include media(md) {
    #brand, #nav-toggle {
      flex: 0 0 #{$logoWidthMD};
    }
    $p: $border-padding_md+$border-size__md;
    padding: $p $p 0 $p;
  }
  @include media(lg) {
    #brand, #nav-toggle {
      flex: 0 0 #{$logoWidthLG};
    }
    $p: $border-padding_lg+$border-size__lg;
    padding: $p $p 0 $p;
  }
  @include media(xl) {
    #brand, #nav-toggle {
      flex: 0 0 #{$logoWidthXL};
    }
    $p: $border-padding_xl+$border-size__xl;
    padding: $p $p 0 $p;
  }
}