
RewriteEngine On
RewriteRule \.\* \- [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ \- [L]
RewriteCond %{REQUEST_FILENAME} 
RewriteCond %{REQUEST_FILENAME} 
RewriteRule . /index.php [L]


