@import "media";
@import "mixins";
@import "colors";

$border-size__xs: 10px;
$border-padding_xs: 20px;
$border-size__sm: 15px;
$border-padding_sm: 35px;
$border-size__md: 20px;
$border-padding_md: 45px;
$border-size__lg: 25px;
$border-padding_lg: 55px;
$border-size__xl: 30px;
$border-padding_xl: 65px;